@use '../../styles/utilities/mixins' as m;
@use '../../styles/semantic/spacing' as sp;

.page {
  @include m.page-layout();
}

.content {
  display: flex;
  flex-direction: column;
  gap: sp.$spacing-gap;
  width: 100%;
}
