@use '../../styles/utilities/mixins' as m;
@use '../../styles/base/variables' as v;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;


.page {
  @include m.page-layout();
}

/* Centre content consistently */
.content {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  width: 100%;
  align-items: center;
}
